<div class="container">
  <h1 appFont>Login</h1>
  <form [formGroup]="form" class="form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email"
        autocomplete="username"
        matInput
        formControlName="email"
        placeholder="exemplo@exemplo.com"
      />
      <mat-error *ngIf="form.get('email')?.errors?.['required']"
        >*Email obrigatório</mat-error
      >
      <mat-error *ngIf="form.get('email')?.errors?.['email']"
        >*Email inválido</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input
        type="password"
        autocomplete="current-password"
        matInput
        formControlName="password"
      />
      <mat-error *ngIf="form.get('password')?.errors?.['required']"
        >*Senha obrigatória</mat-error
      >
      <mat-error *ngIf="form.get('password')?.errors?.['minlength']"
        >*Qtd minima 4 caracteres</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!form.valid"
      (click)="handleLogin()"
    >
      ENTRAR
    </button>
    <button mat-raised-button color="warn" (click)="onBack()">VOLTAR</button>
  </form>
</div>
