.modal {
    min-width: 700px;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: .7rem;

    .title {
        width: 100%;

        h1 {
            display: inline-block;
        }

        p {
            margin: .7rem .5rem;
        }
    }

}