.modal {
    min-width: 700px;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: .7rem;

    .title {
        width: 100%;
        
        background-color: #0005;


        h1 {
            display: inline-block;
        }

        p {
            word-break: break-all;
            margin: .7rem .5rem;
        }
    }

}

@media (max-width: 800px) {
    .modal {
        min-width: 100%;
        max-height: 600px;
    }
}