<div class="modal">
  <div class="title" appFont>
    <h1>
      {{ livro.title }}
      <hr />
    </h1>
    <p><b>Descrição:</b> {{ livro.description }}</p>
  </div>
  <p></p>
  <p><b>Autor:</b> {{ livro.author | titlecase }}</p>
  <p><b>Categoria:</b> {{ livro.category | titlecase }}</p>
  <p><b>Lançamento:</b> {{ livro.launch | date : "yyyy" }}</p>
  <a [href]="livro.local" target="_blank">
    <button mat-raised-button color="primary">LER LIVRO</button>
  </a>
  <span>
    <button (click)="handleEdit()" mat-raised-button color="primary" *ngIf="token">EDITAR</button>
  </span>
</div>