.container {
    height: 100%;
    padding: 1rem;

    padding-top: 2rem;

    .search {
        display: flex;
        justify-content: center;
        
        .filter {
            width: 500px;
            max-width: 500px;
        }
    }
}
