.card {
  width: 200px;
  height: 340px;

  border: none;
  border-radius: 20px;

  text-align: center;

  p {
    padding: 0.2rem 1rem;
  }

  .img {
    width: 100%;
    height: 280px;

    display: flex;
    justify-content: center;

    padding: 2rem 0;
  }

  &:hover {
    scale: 1.01;
    transition: 0.3s;

    cursor: pointer;
  }
}
