<main
  class="container"
  [ngClass]="{ containerM: largeStatus, containerS: !largeStatus }"
>
  <div class="content">
    <p class="category">Estratégia</p>
    <div class="livro">
      <app-livro-card></app-livro-card>
      <app-livro-card></app-livro-card>
      <app-livro-card></app-livro-card>
      <app-livro-card></app-livro-card>
      <app-livro-card></app-livro-card>
      <app-livro-card></app-livro-card>
      <app-livro-card></app-livro-card>
      <app-livro-card></app-livro-card>
      <app-livro-card></app-livro-card>
      <app-livro-card></app-livro-card>
      <app-livro-card></app-livro-card>
      <app-livro-card></app-livro-card>
      <app-livro-card></app-livro-card>
      <app-livro-card></app-livro-card>
      <app-livro-card></app-livro-card>
      <app-livro-card></app-livro-card>
      <app-livro-card></app-livro-card>
      <app-livro-card></app-livro-card>
      <app-livro-card></app-livro-card>
    </div>
  </div>
</main>
