<div
  class="container"
  [ngClass]="{ widthMedium: largeStatus, widthSmall: !largeStatus }"
>
  <span class="icon" (click)="modify()">
    <b>{{ largeStatus ? "BTread" : "BT" }}</b>
  </span>
  <div class="content">
    <div class="item" routerLink="/">
      <mat-icon>home</mat-icon>
      <p *ngIf="largeStatus">Home</p>
    </div>
    <hr />
    <div class="item" routerLink="/search">
      <mat-icon>search</mat-icon>
      <p *ngIf="largeStatus">Pesquisar</p>
    </div>
    <div class="options" *ngFor="let category of categories; let i = index">
      <hr />
      <div
        class="items"
        (click)="handleOption(i); largeStatus ? null : handleItems(i)"
      >
        <div>
          <mat-icon>category</mat-icon>
          <p *ngIf="largeStatus">{{ category.name }}</p>
        </div>
        <mat-icon>check_box_outline_blank</mat-icon>
      </div>
      <span class="options_selected" *ngIf="category.options">
        <div *ngFor="let subcategory of category.subcategories">
          {{ subcategory }}
        </div>
      </span>
    </div>
    <hr />
    <div class="item" routerLink="/auth">
      <mat-icon>shield_person</mat-icon>
      <p *ngIf="largeStatus">Admin</p>
    </div>
  </div>
</div>
